<!DOCTYPE html>
<html>
<head>
    <title>Social Network Privacy</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <img src="/images/icon4.png" alt="Logo" align="center" class="logo">
    <script type="text/javascript"
            src="/javascripts/jquery-2.1.4.min.js">
    </script>
    <script type="text/javascript"
            src="/javascripts/snp-home.js">
    </script>
</head>
<body>
<div id = "intro-field" align="center">

    <h1>Hello,</h1>
    <div id = "user-name" align="center"></div>
    <br>
</div>
<div id = "add-field" align="center">
    <input id="add-user" type="text" name="add-user" placeholder='Add User' align="center">
    <br>
</div>
<div id = "manage-field" align="center">
    <div id = "accepted-users" type="text" name="accepted-users" align="left">
        <ul style="list-style: none" id="users">Test Username!</ul>
    </div>
    <div id = "invitations" type="text" name="invitations" align="right">
        <ul style="list-style: none" id="invites">Test Invite!</ul>
    </div>
</div>
</body>
<footer align="center">
    SNP &copy; Copyright 2015
</footer>
</html>