<!DOCTYPE html>
<html>
<head>
  <title>Social Network Privacy</title>
  <link rel='stylesheet' href='public/stylesheets/style.css' />
  <img src="/images/icon4.png" alt="Logo">
  <script type="text/javascript"
          src="jquery-2.1.4.min.js">
  </script>
  <script type="text/javascript"
          src="/javascripts/snp.js">
  </script>
</head>
<body>
<div id = "credentials">

  <p>Welcome to Social Network Privacy!</p>

  <input id="user-name" type="text" name="user-name"><br>
  <input id="password" type="text" name="password"><br>
  <button name="login" id= "login" class="login">Login</button>
  <br>
</div>
<div id = "save-credentials">
  <input id ="save" type="checkbox" name="save">
</div>
<div id = "create-user">
  <a href="TBA">Create User</a>
</div>

</body>
<br>
<footer align="center">
  SNP &copy; Copyright 2015
</footer>
</html>