<!DOCTYPE html>
<html>
<head>
  <title>Social Network Privacy</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <img src="/images/icon4.png" alt="Logo" align="center" class="logo">
  <script type="text/javascript"
          src="/javascripts/jquery-2.1.4.min.js">
  </script>
  <script type="text/javascript"
          src="/javascripts/snp-index.js">
  </script>
</head>
<body>
<div id = "credentials" align="center">

  <h1>Please Login</h1>

  <input id="user-name" type="text" name="user-name" placeholder='Username' align="center"><br>
  <input id="password" type="password" name="password" placeholder='Password' align="center"><br>
  <button name="login" id= "login" class="login" align="center">Login</button>
  <br>
</div>
<div id = "create-user" align="center">
  <a href="users">Create User</a>
  <br>
</div>
<div id = "save-credentials" align="center">
  <input id ="save" type="checkbox" name="save" align="center" checked >Keep Me Logged In
</div>
</body>
<footer align="center">
  SNP &copy; Copyright 2015
</footer>
</html>