<!doctype html>
<!--
 This page is shown when the extension button is clicked, because the
 "browser_action" field in manifest.json contains the "default_popup" key with
 value "popup.html".
 -->
<html>
  <head>
    <title>Setting Menu</title>
    <style>
      body {
        font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
        font-size: 100%;
        width: 235px;
      }
    </style>

    <!--
      - JavaScript and HTML must be in separate files: see our Content Security
      - Policy documentation[1] for details and explanation.
      -
      - [1]: https://developer.chrome.com/extensions/contentSecurityPolicy
     -->
    <!--<script src="/jquery-1.11.3.min.js"></script>-->
    <script src="/public/javascripts/popup.js"></script>
  </head>
  <body>
    <div id="header" align="center"></div>
    Your Current Session: <div id="status" align="center"></div>
    <br>
    Pause SNP<div id="pause" align="center"></div>
    Settings<div id="settings" align="center"></div>
    <br>
  </body>
  <footer align="center">
    SNP &copy; Copyright 2015
  </footer>
</html>

