<!doctype html>
<!--
 This page is shown when the extension button is clicked, because the
 "browser_action" field in manifest.json contains the "default_popup" key with
 value "popup.html".
 -->
<html>
  <head>
    <title>Setting Menu</title>
    <style>
      body {
        font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
        font-size: 100%;
      }
      #status {
        /* avoid an excessively wide status text */
        white-space: pre;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 400px;
      }
    </style>

    <!--
      - JavaScript and HTML must be in separate files: see our Content Security
      - Policy documentation[1] for details and explanation.
      -
      - [1]: https://developer.chrome.com/extensions/contentSecurityPolicy
     -->
    <script src="/public/javascripts/snp.js"></script>
    <script src="/public/javascripts/popup.js"></script>
  </head>
  <body>
    <!--<img src="/public/images/icon4.png" alt="Logo" style="width:32px;height:32px;">-->
    <div id="header" align="center"></div>
    <div id="public"></div>
    <br>
    <input id="add-text" placeholder='Enter a public key...' />
    <button name="Add" id="add-button">Add</button>
    <br>
    <ul id="list-public"></ul>
    <br>
  </body>
  <footer align="center">
    SNP &copy; Copyright 2015
  </footer>
</html>

