div {
    display: block;
}

body {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;
    width: 250px;
    height: 285px;
}

.options {
    background-color: transparent;
    border: none;
    height: auto;
    width: auto;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 10px;
}

.options:hover {
    outline: none;
    border: 2px solid #dadada;
    border-radius: 7px;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

