body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.checkbox {
	max-width: 160px;
	position: fixed;
	min-height: 25px;
}

.create-user {
	max-width: 160px;
	float: right;
	min-height: 25px;
	margin-top: 10px;
}
	
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox,
.create-user {
  margin-bottom: 10px;
}
.form-signin .checkbox,
.create-user {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
