body {
  font: 14px Helvetica, "Lucida Grande", Arial, sans-serif;
  padding-left: 5%;
  padding-right: 5%;
}

img.logo {
  width: 25%;
  height: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #1221ff;
}

footer{
  color: #FFFFFF;
  font-size: smaller;
}