<!DOCTYPE html>
<html>
<head>
    <title>Social Network Privacy</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <img src="/images/icon4.png" alt="Logo" align="center" class="logo">
    <script type="text/javascript"
            src="/javascripts/jquery-2.1.4.min.js">
    </script>
    <script type="text/javascript"
            src="/javascripts/snp-users.js">
    </script>
</head>
<body>
<div id = "credentials" align="center">

    <h1>Welcome to Social Network Privacy!</h1>

    <input id="user-name" type="text" name="user-name" placeholder='New Username' align="center"><br>
    <input id="new-password" type="password" name="new-password" placeholder='New Password' align="center"><br>
    <input id="confirm-password" type="password" name="confirm-password" placeholder='Confirm Password' align="center"><br>
    <button name="create" id= "create" class="create" align="center">Create</button>
    <br>
</div>
<div id = "save-credentials" align="center">
    <input id ="save" type="checkbox" name="save" align="center" checked >Keep Me Logged In
</div>
</body>
<br>
<footer align="center">
    SNP &copy; Copyright 2015
</footer>
</html>